# Python virtual environments
.venv/
venv/
env/

# Bytecode and caches
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*
!.env.example

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/


# Scrapy cache
.scrapy/

# Data files
data/raw/*.json
data/processed/*.csv